/* ------------- */
/* GENERAL RESET */
/* ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
}

picture,
img {
  /* width 100% will take of horizontall scroll */
  max-width: 100%;
  display: block;
}

/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */

:root {
  /* Colors */
  --clr-primary-950N: 233 47% 7%;
  --clr-primary-950B: 244 37% 16%;
  --clr-primary-500P: 277 64% 61%;

  --clr-neutral-300: hsl(0 0% 100% / 0.6);
  --clr-neutral-200: hsl(0 0% 100% / 0.75);
  --clr-neutral-100: 0 0% 100%;

  /* Font family */
  --ff-inter: "Inter", sans-serif;
  --ff-lexend-deca: "Lexend Deca", sans-serif;

  /* Font weight */
  --fw-700: 700;
}

/* --------------- */
/* UTILITY CLASSES */
/* --------------- */

.uppercase {
  text-transform: uppercase;
}

/* GENERAL STYLING */

body {
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: var(--ff-inter);
  color: var(--clr-neutral-200);
  background-color: hsl(var(--clr-primary-950N));

  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1.5rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 1000px;
}

.picture-container {
  position: relative;
}

/* before pseido elements izveido virs vai pirms esošā .picture-container satura virtuālu elementu */
.picture-container::before {
  --clr-primary-500o: 277 90% 30%;

  content: "";
  position: absolute;
  background-color: hsl(var(--clr-primary-500o) / 0.55);
  /* inset ir tas pats kas top vai bottom 0 */
  inset: 0;
}

.text-container {
  background-color: hsl(var(--clr-primary-950B));
  text-align: center;
  padding: 2.2rem 1.8rem 2rem;
}

.title {
  color: hsl(var(--clr-neutral-100));
  font-weight: var(--fw-700);
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.highlight {
  color: hsl(var(--clr-primary-500P));
}

.main-text {
  margin-bottom: 1.8rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stats__number {
  color: hsl(var(--clr-neutral-100));
  font-weight: var(--fw-700);
  font-size: 1.5rem;
}

.stats__lable {
  font-family: var(--ff-lexend-deca);
  font-size: 0.75rem;
  letter-spacing: 1.2px;
}

@media (min-width: 600px) and (max-width: 690px),
(min-width: 690px) and (max-width: 820px),
(min-width: 820px) {
  .stats-container {
    flex-direction: row;
    flex-direction: row-reverse;
  }

  .picture-container {
    width: 100%;
    height: auto;
    aspect-ratio: 540 / 446;
  }

  .picture-container,
  .text-container {
    flex: 1 1 50%; /* abas daļas vienādas */
  }

  .text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

    .stats {
    flex-direction: row;
    gap: 0.25rem;
  }

  .stats__lable {
    letter-spacing: 1.2px;
  }
}

@media (min-width: 600px) and (max-width: 690px) {
  .title {
    font-size: 1rem;
  }

  .main-text {
    margin-bottom: 1rem;
    font-size: 0.6rem;
  }

  .stats__number {
    font-size: 1rem;
  }

  .stats__lable {
    font-size: 0.5rem;
  }
}

@media (min-width: 690px) and (max-width: 820px) {
  .title {
    font-size: 1.4rem;
  }

  .main-text {
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  .stats__number {
    font-size: 1.4rem;
  }

  .stats__lable {
    font-size: 0.5rem;
  }
}

@media (min-width: 820px) {
  .stats {
    gap: 0.5rem;
  }
}